/*!
	Theme Name: Hello Exchange
	Theme URI: https://github.com/exchange-church/elementor-hello-child
	Description: A child theme for Exchange Church based on the <a href="https://github.com/elementor/elementor-hello-theme">Hello Elementor</a> theme.
	Author: Doug Penny
	Author URI: https://exchangenc.org
	Template: hello-theme
	Version: 1.2.4
	License: GNU General Public License v3 or later.
	License URI: https://www.gnu.org/licenses/gpl-3.0.html
	Text Domain: exchange-elementor
	Tags: flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/


a {
	color: #0f6d8e;
}

a:hover {
    color: #104660;
}

.elementor-tab-content a {
	color: #f5f5f5;
	text-decoration: underline;
}

li.menu-item.menu-item-has-children {
	font-size: 36px;
}

/* This section only applies to desktop or laeger devices. */
@media (min-width:768px) {
	/* Main header without sticky enabled; background is transparent and the
	Exchange logo is solid white.
	*/
	#ec-logo .elementor-image img {
		content: url("/media/logo_white_small-150x150.png");
		width: 50%;
		transition: all 0.5s ease-in-out;
	}

	/* Main header with sticky enabled; background becomes opaque
	and color Exchange logo is used.
	*/
	.ec-main-header.elementor-sticky--effects {
		background-color: #f5f5f5 !important;
	}

	.ec-main-header.elementor-sticky--effects #ec-logo .elementor-image img {
		content: url("/media/color_logo_mark-150x150.png") !important;
		width: 50%;
		transition: all 0.5s ease-in-out;
	}

	.ec-main-header.elementor-sticky--effects .elementor-icon i:before, .elementor-icon svg:before {
		color: #13789c;
	}
}

/* This section applies to tablets and smaller devices. */
@media (max-width: 1024px) {
	/* .elementor-sticky--effects #ec-logo .elementor-image img {
		width: 46%;
	} */
}

/* This section applies to smaller, mobile devices. */
@media (max-width: 767px) {
	.ec-main-header {
		background-color: #f5f5f5 !important;
		padding: 6px 18px 6px 18px !important;
	}

	.ec-main-header #ec-logo .elementor-image img {
		content: url("/media/color_logo_horizontal.png") !important;
		width: 264px !important;
	}

	.ec-main-header .elementor-icon i:before, .elementor-icon svg:before {
		color: #13789c;
	}

	/* .elementor-25 .elementor-view-default .elementor-icon {
		color: #13789c;
		border-color: #13789c;
		font-size: 42px;
		} */

	/* .ec-main-header .elementor-nav-menu--dropdown {
		background-color: #13789c !important;
	} */

	.ec-main-header .elementor-item-anchor.has-submenu {
		text-transform: uppercase;
	}

	.ec-main-header .elementor-nav-menu .sub-arrow {
		display: none;
	}
}
