body .elementor {
    font-family: "Maven Pro", Sans-serif;
}

#tribe-events h1 {
    font-weight: 600;
    text-align: center;
}

#tribe-events-bar {
    font-family: "Lato", Sans-serif;
}

h3.tribe-events-list-event-title {
    font-size: 22px;
}

.tribe-events-event-image a {
    display: none;
}

.events-gridview .tribe-events-tooltip {
	display: none !important;
}